@import "tailwindcss";

@font-face {
  font-family: "TX-02";
  src: url("./assets/fonts/TX-02-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TX-02";
  src: url("./assets/fonts/TX-02-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TX-02";
  src: url("./assets/fonts/TX-02-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "TX-02", ui-sans-serif, system-ui, sans-serif;
}

html,
body {
  @apply bg-zinc-50 dark:bg-zinc-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
